<%- include('includes/head.ejs') %>
<div class="container">
    <main>
        <div class="grid">
            <h1>Page Not Found</h1>
        </div>
    </main>
</div>
<%- include('includes/end.ejs') %>