<%- include('includes/head.ejs') %>
<div>
    <main>
        <form action="/" method="post">
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" />
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </main>
</div>
<%- include('includes/end.ejs') %>